In [132]:
basket = [ 'Apple','Orange','Banana','Kaju','Apple']

#### append()

In [133]:
basket.append('banana')

In [134]:
basket

['Apple', 'Orange', 'Banana', 'Kaju', 'Apple', 'banana']

#### clear()

In [135]:
basket.clear()

In [136]:
basket

[]

In [137]:
basket = [ 'Apple','Orange','Banana','Kaju','Apple']

##### copy()

In [138]:
A = basket.copy()

In [139]:
A

['Apple', 'Orange', 'Banana', 'Kaju', 'Apple']

##### count()

In [140]:
A.count('Apple')

2

##### extend()

In [142]:
B = ['Nikhil','Ram','Shyam']

In [143]:
A.extend(B)

In [144]:
A

['Apple', 'Orange', 'Banana', 'Kaju', 'Apple', 'Nikhil', 'Ram', 'Shyam']

In [146]:
A+B

['Apple',
 'Orange',
 'Banana',
 'Kaju',
 'Apple',
 'Nikhil',
 'Ram',
 'Shyam',
 'Nikhil',
 'Ram',
 'Shyam']

##### index()

In [147]:
A

['Apple', 'Orange', 'Banana', 'Kaju', 'Apple', 'Nikhil', 'Ram', 'Shyam']

In [148]:
A.index('Apple'

0

##### insert()

In [149]:
A.insert(3,'banana')

In [150]:
A

['Apple',
 'Orange',
 'Banana',
 'banana',
 'Kaju',
 'Apple',
 'Nikhil',
 'Ram',
 'Shyam']

##### pop()

In [151]:
A.pop()

'Shyam'

In [152]:
A

['Apple', 'Orange', 'Banana', 'banana', 'Kaju', 'Apple', 'Nikhil', 'Ram']

##### remove()

In [155]:
A.remove('Apple')

In [156]:
A

['Orange', 'Banana', 'banana', 'Kaju', 'Nikhil', 'Ram']

##### reverse()

In [157]:
A.reverse()

In [158]:
A

['Ram', 'Nikhil', 'Kaju', 'banana', 'Banana', 'Orange']

In [159]:
A[2]

'Kaju'